body {
    background-color: #ffcdfa;
    color: #d10081;
   }
label {
background: #cccaff;
    border-radius: 60px;
    font-size: 18px;
    width: 200px;
    padding: 16px;
    display: inline-block;
    border-right: 3px solid rgba(12, 8, 12, 0.527);
    color: #ff009d;
    margin: 10px;
}
h1 {
	text-align: center;
}
.blok-menu
{
overflow: hidden;
background: #fe96d9;
box-shadow: 0px 13px 17px -6px #000000;
}
.header
{
overflow: hidden;
background: #00CED1;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #fe96d9;
    color: #d10081;
    width: 100%;
}
